
.top{
    margin: 150px;
    text-decoration:none;
    font-family:serif;
    
}
.top{
    color:rgb(255, 253, 253);
}
.top:hover{
    color:black
}
.div1{
    width: 30%;
    text-align: center;
    display: inline-block
   
    
}
.div4{
    background-image: url(./bwlines\ topogragh.jpeg);height: 700px;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
.inp:hover{
    border-radius: 0px;
    border-color: rgb(4, 4, 4);
    background-color:silver;
    border-radius: 10px;
}
.send:hover{
    border-radius: 10px;
}
.fas:hover{
    color: black;
}
.fa-solid:hover{
    color: green;
}
.cn{
    text-align: center;
    display: inline-block;
}
.cnt:hover{
    opacity: 0.5;
    transition: 1s;
}